h1 {
  font: 14px Arial,Helvetica,sans-serif !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  margin: 10px 0px -15px 0px !important; }


h2 {
  font: 14px Arial,Helvetica,sans-serif !important;
  font-weight: bold !important;
  margin: 10px 0px -15px 0px !important;}

h3 {
  font: 12px Arial,Helvetica,sans-serif !important;
  font-weight: bold !important;
  margin: 0px 0px 0px 0px !important;}

h4 {
  font: 12px Arial,Helvetica,sans-serif  !important;
  margin: 0px 0px 0px 0px !important; }
  
	
.leaflet-popup-content {
    line-height: 1.4;
    margin: 8px;
}